body{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: url(images/bg-pattern-top-desktop.svg);
    background-repeat: none;
}
.container{
    width: 1440px;
    margin: 50px auto;
}
header{
    border: 1px solid;
    display: inline-block;
    width: 49%;
    padding: 30px;
    box-sizing: border-box;
}
h1{
    color: hsl(300, 43%, 22%);
    font-size: 40px;
    font-weight: 900;
}
.starscontainer{
    border: 1px solid;
    display: inline-block;
    width: 50%;
}
.stars{
    border-radius: 4px;
    width: 450px;
    background-color: hsl(300, 24%, 96%);
    padding: 10px;
    margin: 20px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    box-sizing: border-box;
}
.stars span{
    margin-left: 30px;
}
.star2{
    margin-left: 40px;
}
.star3{
    margin-left: 70px;
}
.cardscontainer{
    border: 1px solid;
}
.cards{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
}
.cards img{
    border-radius: 50%;
    width: 50px;
}
.cards 
.card1{
    
}
.card2{
    
}
.card3{
    
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }